/* Css general per a totes les pagines html del projecte Github*/

/* Configuració general del body */
body{
    margin: 0;
}

/* Configuració dels tituls */
h1, h3{
    color: #1E473A;
}
h2{
    color: white;
}
h4{
    color: #9AC135;
}

/* Configuració paragrafs */
p {
    color: black;
}

/* Configuració links (a) */
a{
    color: #9AC135;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* Configuració Button */
/* button {
    background: rgb(0,151,178);
background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(126,217,87,1) 100%);
color: white;
border: inherit;
padding: 5px 15px;
border-radius: 50px;
text-align: center;
text-decoration: none;
font-weight: bold;
}  */

/* Configuració inputs */
input{
    padding: 5px 10px;
    margin: 10px;
    background-color: none;
    border: none;
    border-bottom: solid 1px black;
}

input[type="button"] {
    background: rgb(0,151,178);
background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(126,217,87,1) 100%);
color: white;
border: none;
padding: 10px 15px;
border-radius: 50px;
text-align: center;

font-weight: bold;
} 

input[type="button"]:hover{
    background: rgb(0,151,178);
background: linear-gradient(90deg, rgb(0, 102, 120) 0%, rgb(84, 146, 58) 100%);
cursor: pointer;
}
/* Id input type button logout */
#logout{
    background: rgb(255,49,49);
    background: linear-gradient(90deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
}

#logout:hover{
    background: rgb(255,49,49);
    background: linear-gradient(90deg, rgb(130, 25, 25) 0%, rgb(153, 86, 45) 100%);
    cursor: pointer;
}

/* Part de css asignada a login.html */

.loginmain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.ginebro {
    text-align: center;
    flex: 1;
    height: 100%;
    background: rgb(0,151,178);
    background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(126,217,87,1) 100%);
}

#logologin {
    max-width: 100%;
    height: auto;
    margin-top: 40vh;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    justify-content: center;
}

.info > a{
    font-size: small;
    margin-top: -15px;
}

.info > a:hover{
    color: #3f9177;
}

#forgot{
    margin-left: -18vw;
    color: gray;
}

#forgot:hover{
    color: #3f9177;
}

.info > input{
    width: 25vw;
}

.info > input[type="button"]{
    width: 10vw;
}

footer {
    position: absolute;
    background-color: white;
    color: white;
    padding: 5px;
    padding-left: 5%;
    bottom: 0px;
}

/* footer, p{
    color: white;
} */
/* Final configuració login.html    ---------------------------------------------------------------- */

/* Configuració css per a la pestanya register.html*/
#headerregister {
    background: rgb(0,151,178);
    background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(126,217,87,1) 100%);
    display: flex; /* Usamos flexbox para alinear verticalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100px; /* Establece una altura fija para el header (ajusta según tus necesidades) */
}

#headerregister > h1 {
    color: white;
    margin-left: 30vw; /* Ajusta el margen según tus preferencias */
}

#headerregister > img {
    margin-left: 5vw; /* Ajusta el margen según tus preferencias */
    width: 20vw;
}

.registermain {
    text-align: center; /* Esto centrará el contenido de .registermain horizontalmente */
    padding: 7vw; /* Añade un poco de espacio alrededor del contenido */
}

.registermain table {
    width: 80%;
    margin: 0 auto; /* Esto centrará la tabla horizontalmente */
}

.registermain td {
    padding-bottom: 10vh;
}

.registermain table input{
    width: 25vw;
}

.registermain > a{
    font-size: small;
}

.registermain > a:hover{
    color: #3f9177;
}
/* Final configuració de la pestanya register.html  ------------------------------------------------ */

