body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

#like {
    background-color: #4caf50;
    color: #fff;
}

#dislike {
    background-color: #f44336;
    color: #fff;
}
