/* Css general per a totes les pagines html del projecte Github */
/* Estilos generales para todas las páginas HTML del proyecto GitHub */

/* Css pels errors */
/* Estilos para mensajes de error */
.mensaje-error {
    background-color: #ffcccc; /* Color de fondo del mensaje de error */
    color: #ff0000; /* Color del texto del mensaje de error */
    padding: 10px; /* Relleno alrededor del mensaje de error */
    text-align: center; /* Alineación del texto al centro */
}

/* Configuració general del body */
/* Configuración general del elemento 'body' (cuerpo) */
body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
}

/* Configuració dels tituls */
/* Configuración para los títulos */
h1, h3 {
    color: #1E473A; /* Color del texto para los encabezados h1 y h3 */
}
h2 {
    color: white; /* Color del texto para los encabezados h2 */
}
h4 {
    color: #9AC135; /* Color del texto para los encabezados h4 */
}

/* Configuració paragrafs */
/* Configuración para los párrafos */
p {
    color: black; /* Color del texto para los párrafos */
}

/* Configuració de les llistes */
/* Configuración para las listas */
li {
    text-decoration: none; /* Elimina la decoración de texto para las listas */
    list-style: none; /* Elimina los marcadores/bolitas de las listas */
}

/* Configuració links (a) */
/* Configuración para los enlaces (a) */
a {
    color: #9AC135; /* Color de los enlaces */
    text-decoration: none; /* Elimina la decoración de texto para los enlaces */
}

a:hover {
    cursor: pointer; /* Cambia el cursor del mouse a una mano cuando se pasa sobre los enlaces */
}

/* Configuració submit */
/* Estilos para los botones de envío (submit) (comentado, no tiene efecto) */

/* Configuració inputs */
/* Configuración para los campos de entrada (inputs) */
input {
    padding: 5px 10px; /* Relleno alrededor de los campos de entrada */
    margin: 10px; /* Márgenes para los campos de entrada */
    background-color: none; /* Color de fondo de los campos de entrada a ninguno */
    border: none; /* Elimina el borde de los campos de entrada */
    border-bottom: solid 1px black; /* Borde inferior sólido de 1px para los campos de entrada */
}

input[type="submit"] {
    /* Estilos para los botones de envío específicos (type="submit") */
    background: rgb(0, 151, 178);
    background: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(126, 217, 87, 1) 100%);
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    padding: 10px 15px; /* Relleno alrededor del botón de envío */
    border-radius: 50px; /* Radio de borde para que el botón sea redondeado */
    text-align: center; /* Alineación del texto al centro */
    font-weight: bold; /* Peso de la fuente en negrita */
}

input[type="submit"]:hover {
    /* Estilos para los botones de envío cuando se pasa el mouse sobre ellos */
    background: rgb(0, 151, 178);
    background: linear-gradient(90deg, rgb(0, 102, 120) 0%, rgb(84, 146, 58) 100%);
    cursor: pointer; /* Cambia el cursor del mouse a un puntero al pasar sobre el botón */
}

/* Id input type submit logout */
/* Estilos para el botón de cierre de sesión con el ID "logout" */
#logout {
    background: rgb(255, 49, 49);
    background: linear-gradient(90deg, rgba(255, 49, 49, 1) 0%, rgba(255, 145, 77, 1) 100%);
}

#logout:hover {
    /* Estilos para el botón de cierre de sesión cuando se pasa el mouse sobre él */
    background: rgb(255, 49, 49);
    background: linear-gradient(90deg, rgb(130, 25, 25) 0%, rgb(153, 86, 45) 100%);
    cursor: pointer; /* Cambia el cursor del mouse a un puntero al pasar sobre el botón */
}

/* Part de css asignada a login.html */

/* Estilos para la página de inicio de sesión en login.html */
.loginmain {
    display: flex; /* Usa flexbox para organizar los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    height: 100vh; /* Establece la altura al 100% de la ventana */
    display: flex; /* Doble declaración (posiblemente un error) */
    justify-content: space-between; /* Espacio entre elementos flexibles */
}

.ginebro {
    /* Estilos para un elemento con clase "ginebro" en login.html */
    text-align: center; /* Alineación del texto al centro */
    flex: 1; /* Flexbox, utiliza 1 unidad de espacio flexible */
    height: 100%; /* Altura al 100% */
    background: rgb(0, 151, 178); /* Fondo degradado */
    background: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(126, 217, 87, 1) 100%);
}

#logologin {
    /* Estilos para un elemento con ID "logologin" en login.html */
    max-width: 100%; /* Ancho máximo del elemento */
    height: auto; /* Altura automática (ajustada según el contenido) */
    margin-top: 40vh; /* Margen superior (40% de la altura de la ventana) */
}

.info {
    /* Estilos para un elemento con clase "info" en login.html */
    flex: 1; /* Flexbox, utiliza 1 unidad de espacio flexible */
    display: flex; /* Usa flexbox para organizar los elementos */
    flex-direction: column; /* Dirección de columna para los elementos flexibles */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre elementos secundarios */
    height: 100%; /* Altura al 100% */
    justify-content: center; /* Centra verticalmente los elementos */
    text-align: center; /* Alineación del texto al centro */
}

.info > a {
    /* Estilos para enlaces dentro de un elemento con clase "info" */
    font-size: small; /* Tamaño de fuente pequeño */
    margin-top: -15px; /* Margen superior negativo */
}

.info > a:hover {
    /* Estilos para enlaces dentro de un elemento con clase "info" cuando se pasa el mouse sobre ellos */
    color: #3f9177; /* Cambia el color del texto al pasar el mouse */
}

#forgot {
    /* Estilos para un elemento con ID "forgot" en login.html */
    margin-left: -10vw; /* Margen izquierdo negativo */
    color: gray; /* Color de texto gris */
    font-size: smaller; /* Tamaño de fuente más pequeño */
}

#forgot:hover {
    /* Estilos para un elemento con ID "forgot" cuando se pasa el mouse sobre él */
    color: #3f9177; /* Cambia el color del texto al pasar el mouse */
}

.info > input {
    /* Estilos para campos de entrada dentro de un elemento con clase "info" */
    width: 55vw; /* Ancho del campo de entrada */
}

.info input[type="submit"] {
    /* Estilos para botones de envío dentro de un elemento con clase "info" */
    width: 10vw; /* Ancho del botón de envío */
}

footer {
    /* Estilos para el pie de página */
    position: fixed; /* Posición absoluta */
    background-color: white; /* Color de fondo blanco */
    color: white; /* Color del texto blanco */
    padding: 5px; /* Relleno alrededor del pie de página */
    padding-left: 5%; /* Relleno izquierdo */
    bottom: 0px; /* Fijar al fondo de la ventana */
    width: 94.5vw; /* Ancho del pie de página */
    border-top: #1E473A solid 1px; /* Borde superior sólido */
}

footer > p {
    /* Estilos para párrafos dentro del pie de página */
    display: inline-block; /* Mostrar como bloque en línea */
    margin-left: 50vw; /* Margen izquierdo (50% del ancho de la ventana) */
}

/* Final configuració login.html ---------------------------------------------------------------- */

/* Configuració css per a la pestanya register.html */
/* Estilos CSS para la página register.html */

#headerregister {
    /* Estilos para el encabezado con ID "headerregister" */
    background: rgb(0, 151, 178); /* Fondo degradado */
    background: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(126, 217, 87, 1) 100%);
    display: flex; /* Usa flexbox para organizar los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100px; /* Altura del encabezado */
}

#headerregister > h1 {
    /* Estilos para el encabezado h1 dentro del encabezado con ID "headerregister" */
    color: white; /* Color del texto blanco */
    margin-left: 30vw; /* Margen izquierdo (30% del ancho de la ventana) */
}

#headerregister > img {
    /* Estilos para una imagen dentro del encabezado con ID "headerregister" */
    margin-left: 5vw; /* Margen izquierdo (5% del ancho de la ventana) */
    width: 20vw; /* Ancho de la imagen */
}

.registermain {
    /* Estilos para la sección principal con clase "registermain" */
    text-align: center; /* Alineación del texto al centro */
    padding: 7vw; /* Relleno alrededor del contenido principal */
}

.registermain table {
    /* Estilos para las tablas dentro de la sección principal */
    width: 80%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar horizontalmente la tabla */
}

.registermain td {
    /* Estilos para las celdas de la tabla dentro de la sección principal */
    padding-bottom: 10vh; /* Espacio inferior entre celdas */
}

.registermain table input {
    /* Estilos para los campos de entrada dentro de la tabla */
    width: 25vw; /* Ancho de los campos de entrada */
}

.registermain > a {
    /* Estilos para enlaces dentro de la sección principal */
    font-size: small; /* Tamaño de fuente pequeño */
}

.registermain > a:hover {
    /* Estilos para enlaces dentro de la sección principal cuando se pasa el mouse sobre ellos */
    color: #3f9177; /* Cambia el color del texto al pasar el mouse */
}

/* Final configuració de la pestanya register.html ------------------------------------------------ */

/* Configuració index.html */
/* Estilos CSS para la página index.html */

menu {
    /* Estilos para un elemento 'menu' */
    border-bottom: #1E473A solid 2px; /* Borde inferior sólido de 2px */
    height: 10vh; /* Altura del menú */
}

menu > ul {
    /* Estilos para una lista no ordenada dentro del menú */
    margin-top: -6vh; /* Margen superior negativo */
    height: 20px; /* Altura de la lista no ordenada */
}

menu > ul > li {
    /* Estilos para elementos de lista dentro de la lista no ordenada */
    display: inline-block; /* Mostrar como bloque en línea */
    margin-left: 5vw; /* Margen izquierdo (5% del ancho de la ventana) */
}

menu > ul > li > a {
    /* Estilos para enlaces dentro de elementos de lista */
    color: #1E473A; /* Color del texto */
}

menu > ul > li > a > h3 {
    /* Estilos para encabezados h3 dentro de enlaces */
    margin-top: -10vh; /* Margen superior negativo */
    padding-top: -10px; /* Relleno superior negativo (esto no tiene efecto) */
}

menu > ul > li > a > h3:hover {
    /* Estilos para encabezados h3 dentro de enlaces cuando se pasa el mouse sobre ellos */
    color: #3f9177; /* Cambia el color del texto al pasar el mouse */
}

menu > img {
    /* Estilos para imágenes dentro del menú */
    width: 60px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    display: inline-block; /* Mostrar como bloque en línea */
}

.negrita {
    /* Estilos para elementos con clase "negrita" */
    color: #9AC135; /* Color del texto */
}

#conficon {
    /* Estilos para un elemento con ID "conficon" */
    width: 25px; /* Ancho del elemento */
    height: 25px; /* Altura del elemento */
    margin-left: 25vw; /* Margen izquierdo (55% del ancho de la ventana) */
}

/* Final configuració de la pestanya index.html ---------------------------------------------------- */

/* Inici configuració de la pestanya config.html */
/* Estilos CSS para la página config.html */

#sidebarconf {
    /* Estilos para un elemento con ID "sidebarconf" */
    width: 25vw; /* Ancho del elemento */
    height: 70vh; /* Altura del elemento */
    display: flex; /* Usa flexbox para organizar los elementos */
    float: left; /* Flotar a la izquierda */
}

#sidebarconf > ul {
    /* Estilos para una lista no ordenada dentro de "sidebarconf" */
    width: 17vw; /* Ancho de la lista no ordenada */
    margin-left: 2vw; /* Margen izquierdo (2% del ancho de la ventana) */
    text-align: center; /* Alineación del texto al centro */
    border-right: #1E473A solid 2px; /* Borde derecho sólido de 2px */
}

#sidebarconf > ul > li {
    /* Estilos para elementos de lista dentro de la lista no ordenada */
    padding: 25% 10%; /* Relleno arriba y abajo, margen izquierdo y derecho */
    border-bottom: #1E473A solid 1px; /* Borde inferior sólido de 1px */
    border-top: #1E473A solid 1px; /* Borde superior sólido de 1px */
    width: 15vw; /* Ancho del elemento de la lista */
    margin-left: -2.3vw; /* Margen izquierdo negativo (ajuste visual) */
    font-size: large; /* Tamaño de fuente grande */
}

#sidebarconf > ul > li > a {
    /* Estilos para enlaces dentro de elementos de lista */
    color: #1E473A; /* Color del texto */
}

#sidebarconf > ul > li > a:hover {
    /* Estilos para enlaces dentro de elementos de lista cuando se pasa el mouse sobre ellos */
    color: #3f9177; /* Cambia el color del texto al pasar el mouse */
}

#infoconf {
    /* Estilos para un elemento con ID "infoconf" */
    display: flex;
    float: left;
    width: 70vw !important; /* Ancho del elemento */
    height: 70vh; /* Altura del elemento */
    border: solid 1px;
}

#infoconf, input {
    /* Estilos para elementos con ID "infoconfig" y campos de entrada */
    width: 15vw; /* Ancho de los elementos */
}

#infoconf, input[type="submit"] {
    /* Estilos para elementos con ID "infoconf" y botones de envío */
    width: 15vw; /* Ancho de los elementos */
}

#infoconf img {
    /* Estilos para imágenes dentro de "infoconf" */
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
}

/* Css del pop up de login i politiques */

/* Estilo para el contenedor del pop-up */
#popup-container {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posicionamiento fijo en la pantalla */
    top: 0; /* Arriba de la pantalla */
    left: 0; /* A la izquierda de la pantalla */
    width: 100%; /* Ancho del 100% de la pantalla */
    height: 100%; /* Alto del 100% de la pantalla */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Capa superior */
    display: flex; /* Uso de flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Estilo para el contenido del pop-up */
#popup {
    background: #fff; /* Fondo blanco */
    padding: 20px; /* Relleno de 20 píxeles */
    border: 1px solid #ccc; /* Borde sólido con color gris */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    text-align: center; /* Texto centrado */
}

/* Estilo para el botón de aceptar */
#accept-button {
    background: #007BFF; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno del botón */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
}

/* Configuracio pàgina formularis */

/* Estilo para la tabla de formularios */
.tabla-formularios {
    max-height: 100vh; /* Establece la altura máxima del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más alto que la altura máxima */
}

/* Estilo para la tabla en general */
table {
    width: 100%; /* Haz que la tabla ocupe el 100% del ancho del contenedor */
    /* Estilos adicionales para la tabla si es necesario */
}

/* Probes de la taula de formularis */

/* Estilo adicional para la tabla de formularios */
.tabla-formularios {
    width: 100%;
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
}

/* Estilo para las celdas de la tabla */
.tabla-formularios th, .tabla-formularios td {
    padding: 10px; /* Relleno de celdas de 10 píxeles */
    border: 1px solid #ccc; /* Borde sólido con color gris */
    text-align: left; /* Alineación de texto a la izquierda */
}

/* Estilo para las celdas de encabezado de la tabla */
.tabla-formularios th {
    background-color: #f2f2f2; /* Fondo gris claro */
}

/* Estilo para el contenedor de tabla con desplazamiento */
.table-container {
    max-height: 400px; /* Establece la altura máxima del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más alto que la altura máxima */
    border: 1px solid #ccc; /* Borde sólido con color gris */
    border-radius: 5px; /* Borde redondeado */
    margin-top: 20px; /* Margen superior de 20 píxeles */
}

/* Final probes de la taula de formularis ---------------------------------------------------------- */

/* Final configuració de la pestanya config.html --------------------------------------------------- */
